<div id="DNDModal">
  <div class="row">
    <h4 id="codeheading">Code</h4>
    <div class="col-7">
      
      <div class="code">
        <div class="code-line">
          <div class="droppable-area">
            <div class="empty-box"></div>
            <pre><code class="language-cpp"></code></pre>
          </div>
        </div>
        <div class="code-line">
          <pre><code class="language-cpp" ></code></pre>
        </div>
      </div>
    </div>
    <div class="col-5" >
      <div id="optionCntr">
      <h4>Options</h4>
      <div class="option-line">
        <div class="option-item">
          <pre><code class="language-cpp"></code></pre>
        </div>
      </div>
      </div>
      <div id="editor1">Your C++ code here</div>
      <button id="submit-btn"  class="btn btn-primary mt-3">Submit</button>
  <button id="reset-DNDModal" class="btn btn-primary mt-3">Reset</button>
  <button id="different-options" class="btn btn-primary mt-3">Different Options</button>
    </div>
  </div>
  
</div>

