<div id="DNDModal">
  <div class="row">
    <div class="col-7">
      <h4>Code</h4>
      <div class="code">
        <div class="code-line">
          <div class="droppable-area">
            <div class="empty-box"></div>
            <pre><code class="language-cpp"></code></pre>
          </div>
        </div>
        <div class="code-line">
          <pre><code class="language-cpp" ></code></pre>
        </div>
      </div>
    </div>
    <div class="col-5" id="optionCntr">
      <h4>Options</h4>
      <div class="option-line">
        <div class="option-item">
          <pre><code class="language-cpp"></code></pre>
        </div>
      </div>
      <div id="editor1">Your C++ code here</div>
    </div>
  </div>
</div>
