{% extends 'homeTemplates/base.html' %} {% load static %} {%block content%}


<div >
  <div class="row">
  <h1 class="text-center">{{question.name}}</h1>
  <a href="{{w_links.leetcode_link}}" target="_blank" class="btn btn-primary">Leetcode</a>
  <a href="{{w_links.striver_link}}" target="_blank" class="btn btn-primary">Striver</a>
  <!--if using django html-->
   
</div>
{% comment %} <div class="row">
  <p>{{question.description}}</p>
</div> {% endcomment %}
  <div class="row Commader">
    <div class="col-2">
      <!--Play button -->
      <button id="play_button" value="false" class="btn btn-success mt-3">Play</button>
    </div>
    <div class="col-7">
    </div>
    <div class="col-3">
      <label for="approachSelect">Select Approach:</label>
      <select name="approaches" id="approachSelect">
        {% for approach in approaches %}
        <option value="{{ approach.id }}">{{ approach.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
<!--Add the LBLModal using static files-->
{% include 'Modals/LBLModal.html' %}
<!--Add the DND using static files-->
{% include 'Modals/DNDModal.html' %}

{% endblock %}
 {% block addStaticFiles %}
<script src="{% static 'js/Modal/LBLModal.js' %}"></script>
<script src="{% static 'js/Modal/DNDModal.js' %}"></script>
<script src="{% static 'js/Utilities/differentApproach.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/otherStyles/dragAndDrop.css' %}" />
{%endblock%}
